---
layout: default
---

<div class="home">

  <div class='bio-description'>
    <p>Single-cell proteomics, Mass Spectrometry, Computational Biology<a href="https://slavovlab.net/" target="_blank" rel="noopener noreferrer" title="Slavov Lab" style="text-decoration: underline;"> @ Slavov Lab</a></p>
    <ul class="social-media-list">
      <li><svg class="svg-icon" aria-hidden="true" focusable="false"><use xlink:href="{{ '/assets/minima-social-icons.svg#email' | relative_url }}"></use></svg><span> kok.o [at] northeastern.edu</span></li>
      <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank" rel="noopener noreferrer"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a></li>
      <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" target="_blank" rel="noopener noreferrer"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg></a></li>
      <li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" target="_blank" rel="noopener noreferrer"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a></li>
      <li><a href="https://orcid.org/{{ site.orcid_username| cgi_escape | escape }}" target="_blank" rel="noopener noreferrer"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#orcid' | relative_url }}"></use></svg></a></li>
    </ul>    
    <hr class="dash-separator">
  </div>

  {{ content  }}

</div>
